.pageVideo {
  display: none;
}

.player-container {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    margin-bottom: 15px !important;
}

#detail .player-container {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    margin-bottom: 15px !important;
}

.simpleVideo {
  text-align: center;
}

.simpleVideo video {
  margin: 0 auto;
}

.player-container .dhy-video{
  position: static!important;
}

@media screen and (max-width: 767px) {
  
}