
.main .main-left {
    width: 1000px;
    margin:0 auto;
}

.nextpage{ display: none;}
.btn-audio{ display:none;}
.main #detail p {
    text-align: justify;
}


@media screen and (max-width: 767px) {
   
    .main .main-left{
        width: 100%;
    }  
}