chromadb==0.4.22
langchain==0.1.5
langchain-community==0.0.17
langchain-core==0.1.19
langchain-openai==0.0.5
openai==1.30.2
tiktoken==0.5.2
unstructured-client==0.14.0
unstructured==0.11.8
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
urllib3==1.26.18
python-dotenv==1.0.1
panel==1.3.0a8
ipython==8.12.3
python-pptx==0.6.23
pdf2image==1.17.0
pdfminer==20191125
opencv-python==4.9.0.80
pikepdf==8.13.0
pypdf==4.0.1
protobuf==4.22
requests==2.29.0
urllib3==1.25.11
markdown==3.6
